<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Materias reprobadas</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" method=""   [formGroup]="reprobadaForm" (ngSubmit)="crearReprobada()">
                        <div class="form-group">
                            <select  class="form-select form-select-sm" formControlName="idMateria">
                                <option value="">Seleccione materia</option>
                                <option *ngFor="let es of materias" value="{{es.idmateria}}" >{{es.nombres}} {{es.cedula}}
                                    {{es.nombre}}
                                </option>
                              </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text"  class="form-control" placeholder="Motivo"
                            formControlName="motivo" required>
                        </div>
                        <br>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">
                                <img src="./assets/save.png" height="20px" alt="Guardar">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <form class="d-flex" role="search" (ngSubmit)="buscar()">
                <input class="form-control me-2" type="text" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}" placeholder="Filtrar por materia" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><img src="./assets/lupa.png" height="20px" alt=""></button>
              </form>
            <h1>Listado de materias reprobadas</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Materia</th>
                            <th>Motivo</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let re of reprobadas">
                            <td>{{re.nombres}} {{re.cedula}}
                                {{re.nombre}}
                            </td>
                            <td>{{re.motivo}}</td>
                            <td><a (click)="eliminarReprobada(re.idreprobada)" class="btn"><img src="./assets/delete.png" height="20px" alt=""></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

