<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Estudiantes</h2>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="studentForm" (ngSubmit)="crearEstudiante()" action="#" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="nombres" placeholder="Nombres" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="cedula" placeholder="Cedula" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="edad" placeholder="Edad" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="correo" placeholder="Email" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Fecha de nacimiento:</label>
                            <input type="date" class="form-control" formControlName="fechanacimiento" required>
                        </div>

                        <!-- Espacio adicional entre los campos y el botón -->
                        <div class="mb-3"></div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">
                                <img src="./assets/save.png" height="20px" alt="Guardar">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  

        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <form class="d-flex" role="search" (ngSubmit)="buscar()">
                <input class="form-control me-2" [(ngModel)]="cedula" [ngModelOptions]="{standalone: true}"
                    type="text" placeholder="Filtrar por cédula" aria-label="Search">
                <button class="btn btn-success" type="submit">
                    <img src="./assets/lupa.png" height="20px" alt="Buscar">
                </button>
            </form>
           
            
            <h1>Listado de estudiantes</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cedula</th>
                            <th>Edad</th>
                            <th>Email</th>
                            <th>Nacimiento</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let es of estudiantes">
                            <tr *ngFor="let es of estudiantes">
                                <td>{{es.idestudiante}}</td>
                                <td>{{es.nombres}}</td>
                                <td>{{es.apellidos}}</td>
                                <td>{{es.cedula}}</td>
                                <td>{{es.correo}}</td>
                                <td>{{es.edad}}</td>
                                <td>{{es.fechanacimiento}}</td>
                                
                            
                            <td><a (click)="eliminarEstudiante(es.idestudiante)" class="btn btn-danger">
                                   
                                    Eliminar
                                </a></td>
                        </tr>
                    </tbody>
                    
                </table>
                <div *ngIf="busquedaRealizada && estudiantes.length === 0" class="alert alert-danger mt-3">
                    No se encontraron resultados en la búsqueda.
                  </div>
                  
            </div>
        </div>
    </div>
</div>
    
 